body, html {
  height: 100%;
}

.App {
  text-align: center;
}

.splash {
  background-image: url("assets/Splash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.centerContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.About {
  padding: 10vh 0;

}