body, html {
  height: 100%;
}

.App {
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
}

nav h1 {
  display: inline;
  padding: 10px;
  float: left;
  margin: 0;
}
.navList {
  display: inline;
  padding: 10px;
  float: right;
  margin: 7px;
}
.navList li {
  display: inline;
  padding-right: 15px;
}

.splash {
  height: 100%;
  background-image: url("/assets/Splash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
